.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px;
  text-align: center;
  background-color: #f1f1f1;
  margin: 16px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.row {
  display: flex;
  gap: 8px;
  flex-direction: row;
  justify-content: flex-end;
}

@media all and (max-width: 800px) {
  .author,
  .score,
  .comments {
    flex: 1 0px;
  }

  .column {
    align-items: stretch;
  }
}

@media all and (max-width: 400px) {
  .right > * {
    flex: 1 100%;
    flex-direction: column;
    align-items: center;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.right {
  flex: 1 1 100%;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.thumbnail > img {
  transition: filter 0.5s;
  height: 72px;
  width: 96px;
  border: none;
  border-radius: 4px;
}

.timeago {
  color: #657786;
  font-size: 12px;
}

.name {
  display: flex;
  flex: 1 0px;
  padding: 8px 8px;
  font-size: 0.83em;
  font-weight: bold;
}

.author {
  color: #657786;
  font-size: 12px;
  flex: 2 0px;
  padding: 0px 8px;
  flex-direction: row;
}

.score,
.comments {
  font-size: 12px;
  color: #657786;
  flex: 1 0px;
}
